<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        .anchorBL {
            display: none;
        }

        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WkwzSIGFelxNmNMdUOM9W9QZ"></script>
    <title>带文字标签的覆盖物</title>
</head>
<body>
<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(121.53526,31.278928);
    map.centerAndZoom(point, 18);
    map.enableScrollWheelZoom(true);
    addMapEvents();

    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画


    function setTextlabels(px, py, strtext) {
        var opts = {
            position: new BMap.Point(px, py),    // 指定文本标注所在的地理位置
            offset: new BMap.Size(30, -30)    //设置文本偏移量
        }
        var label = new BMap.Label(strtext, opts); // 创建文本标注
        label.setStyle({
            color: "black",
            fontSize: "16px",
            height: "10px",
            width: "20px",
            lineHeight: "20px",
            fontFamily: "微软雅黑",
            backgroundColor: "0.05",
            border: "0",
            fontWeight: "bold"
        });
        map.addOverlay(label);
    }

    setTextlabels(121.53456,31.278528, "浦东新区");

/*    var label = new BMap.Label("互联宝地", {offset: new BMap.Size(30, -30)});
    marker.setLabel(label);

    var opts = {
        position : point,    // 指定文本标注所在的地理位置
        offset   : new BMap.Size(30, -30)    //设置文本偏移量
    }
    var label2 = new BMap.Label("欢迎使用百度地图，这是一个简单的文本标注哦~", opts);  // 创建文本标注对象
    label2.setStyle({
        color : "red",
        fontSize : "12px",
        height : "20px",
        lineHeight : "20px",
        fontFamily:"微软雅黑"
    });
    map.addOverlay(label2);*/

    var polyline = new BMap.Polyline(
            [new BMap.Point(121.534955,31.280841),
             new BMap.Point(121.536275,31.279723),
             new BMap.Point(121.537479,31.278318),
             new BMap.Point(121.534793,31.277238),
             new BMap.Point(121.533347,31.27997),
             new BMap.Point(121.534955,31.280841)],
            {strokeColor: "red", strokeWeight: 4, strokeOpacity: 1});
    map.addOverlay(polyline);

    marker.addEventListener("click", attribute);
    map.addOverlay(marker);    //增加点

    var overView = new BMap.OverviewMapControl();
    var overViewOpen = new BMap.OverviewMapControl({isOpen:true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT});
    map.addControl(overView);          //添加默认缩略地图控件
    map.addControl(overViewOpen);      //右下角，打开

    function attribute() {
        window.open("http://b-linksh.com/WebApp/site3/bx17/bx18/bx20/index.html");
    }

    function addMapEvents() {
        map.enableScrollWheelZoom();
        map.addControl(new BMap.NavigationControl());//导航工具
    }

</script>