<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        #imgtext{
            border: #06F dashed 1px;
            width: 700px;
        }

        #img{
            float: right;
        }
        #text{
            color: #00FF00;
            font-family: 隶书;
        }
    </style>
</head>
<body>

<div id="imgtext">

    <div id="img">
        <img src="../../static/img/chengjianyuan.jpg">
    </div>
    <div id="text">这是一个美女这是一个美女这是一个美女这是一个美女这是一个美女
        这是一个美女这是一个美女这是一个美女这是一个美女这是一个美女这是一个美女
        这是一个美女这是一个美女这是一个美女这是一个美女这是一个美女这是一个美女
        这是一个美女这是一个美女这是一个美女这是一个美女这是一个美女这是一个美女</div>

</div>

</body>
</html>